:root{
    --tipografia-facebook: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    --color-azul-facebook:#1877f2;
    --color-verde-facebook: #42b72a;
    --color-gris-facebook: #f0f2f5;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-azul-facebook-hover: #166fe5;

    /* "--"se usa para decir que es una variable y se definen en una pseudo clase root(es una configuracion de estilos de la pagina(cambia la configuracion de estilos de una pagina a como la definimos)) */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    margin: 32px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* repeat(cantidad, tamaño) */
    grid-column-gap: 32px;
}

.seccion1{
    font-size: 28px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario input{
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
}

.btn-inicio-sesion{
    width: 400px;
    height: 52px;
    background-color: var(--color-azul-facebook);
    color: var(--color-blanco);
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    transition: all .5s;
}

.btn-inicio-sesion:hover{
    background-color: var(--color-azul-facebook-hover);
}

.btn-crear{
    background-color: var(--color-verde-facebook);
    color: var(--color-blanco);
    font-size: 17px;
    font-weight: bold;
    line-height: 43px;
    padding: 0 24px;
    border-radius: 6px;
    border: none;
    transition: all .5s;
}